CREATE OR REPLACE FUNCTION public.reset_stage_slas(p_stage_id uuid)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
BEGIN
  UPDATE public.lead
  SET stage_entered_at = now(),
      sla_custom_limit_minutes = NULL
  WHERE etapa_id = p_stage_id
    AND archived = false;
END;
$$;
GRANT EXECUTE ON FUNCTION public.reset_stage_slas(uuid) TO authenticated;
